{% extends 'campanhas/base.html' %}
{% block title %} Campanhas {% endblock title %}
{% block content %}
{% if campanhas %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            {% for campanha in campanhas %}
                <img class="d-block w-100" src="{{ campanha.imagem.url }}" alt="{{ campanha.titulo_campanha }}">
            {% endfor %}
        </div>
      </div>
    </div>
{% else %}
    <p>Não foi possível carregar nenhuma campanha</p>
{% endif %}
{% endblock content %}





