{% extends 'campanhas/base.html' %}
{% block title %} Campanhas {% endblock title %}
{% block content %}
{% if campanhas %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          {% for campanha in campanhas %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <h1>OK</h1>
                <img class="d-block w-100" src="{{ campanha.imagem.url }}" alt="{{ campanha.titulo_campanha }}">
            </div>
          {% endfor %}
      </div>
    </div>
{% else %}
    <p>Não foi possível carregar nenhuma campanha</p>
{% endif %}
{% endblock content %}





