{% extends 'campanhas/base.html' %}
{% block title %} Campanhas {% endblock title %}
{% block content %}
    {% if campanhas %}
    <div class="container-fluid px-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner bg-info">
              {% for campanha in campanhas %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <img class="mw-100" src="{{ campanha.imagem.url }}" alt="{{ campanha.titulo_campanha }}" alt="Max-width 100%">
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
    </div>
    {% else %}
        <p>Não foi possível carregar nenhuma campanha</p>
    {% endif %}
{% endblock content %}





